.links {
  display: flex;
}

.link-text {
  color: hsl(210, 86%, 74%);
  margin-right: 2rem;
  font-size: 1.4rem;
}

.underline {
  position: relative;
  display: inline-block;
}
.underline:hover::before {
  content: "";
  border-bottom: 4px solid hsl(210, 86%, 74%);
  width: 95%;
  position: absolute;
  right: 5%;
  top: 110%;
}

@media (max-width: 39em) {
  .links {
    flex-direction: column;
  }

  .link-text {
    margin-bottom: 0;
  }
}
