.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  min-height: 100vh;
  font-size: 10rem;
  z-index: 10;
}

.none {
  background-color: var(--bg);
  z-index: -10;
}
