:root {
  --bg: hsl(219, 14%, 12%);
  --primary-color: hsl(210, 86%, 74%);
  --font: monospace;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg);
  color: var(--primary-color);
  font-family: var(--font);
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.container {
  margin: 2rem 5rem 5rem 5rem;
}

@media (max-width: 39em) {
  .container {
    margin: 1rem;
  }
}
