.coin-img {
  width: 1.5rem;
  height: 1.5rem;
  fill: hsl(210, 86%, 74%);
  margin-right: 0.5rem;
}

.coin {
  margin-right: 1rem;
}

.coin-wrapper {
  display: flex;
  align-items: center;
}

.coins {
  margin-bottom: 8rem;
  min-height: 7.875rem;
}
